%nav.tab-bar
	%section.left-small
		%a.left-off-canvas-toggle.menu-icon{:href => "#"}
			%span
	%section.middle.tab-bar-section
		%h1.title P.S.
	%section.right.text-center
    =render 'layouts/user_header'
		%button.button.small{:data => {:dropdown => "drop"}, :aria => {:controls => "drop4"}, :aria => {:expanded => "false"}, :style => "margin:0;float:right;background:none;"}
			%i.fi-torso{:style => "font-size:16px;"}